.EndOfReg__link{
    text-decoration: none;
}

<<<<<<< HEAD
=======
span{
   justify-content: center;
    display: flex;
    flex-direction: row ;
}

>>>>>>> 5b87f52ad866a78a75c53b5ea72824e4677386e0
.EndOfReg__footer {
    text-align: center; 
    font-size: 14px;   
    line-height: 1.5;   
<<<<<<< HEAD
    /* color: var(--tgui--text_color);  */
}
=======
    color: var(--tgui--text_color); 
}
>>>>>>> 5b87f52ad866a78a75c53b5ea72824e4677386e0
